@model Roman_Numeral_Web_App.Models.NumeralsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>. you thought you could stop us?!?</p>
</div>
<div>
    <div data-test="number-input">
        @Html.EditorFor(model => model.Roman_Numerals)
    </div>
    <button data-test="number-submit" id="number-submit">Submit</button>
    <div data-test="number-output" id="convert-result" />
</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        $("#number-submit").click(function () {
            var request = {
                    Roman_Numerals: $("input[name='Roman_Numerals']").val()
                };

            $.post('@Url.Action("convert", "Numeral")', request, function(data) {
                $("#convert-result").text(data.arabic_Numerals);
            });
        });
    });
    </script>
}